{%- extends 'base.html.jinja' -%}

{% block head -%}
<style>
  main {
    width: fit-content;
  }

  .card {
    display: flex;
    overflow: hidden;
    padding: 16px;
    background-color: var(--c-bg-1);
    border-radius: 8px;
    box-shadow: var(--shadow-card);
  }

  .card.song {
    width: 350px;
    position: relative;
    display: block;
  }

  .card.song .index {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: var(--c-index-bg);
    color: var(--c-fg-pri);
    clip-path: polygon(100% 0, 0 0, 0 100%);
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .card.song .index span {
    display: block;
    transform: rotate(-45deg);
  }

  .card.song .inner {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    height: 100%;
  }

  .card.song img.cover {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 6px;
    border: 1px solid var(--c-shadow);
    box-shadow: var(--shadow-cover);
  }

  .card.song .desc {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
  }

  .card.song .desc-inline {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .card.song .desc .title {
    font-size: 18px;
    font-weight: bold;
  }

  .card.song .desc .title span {
    font-size: 16px;
    font-weight: normal;
    color: var(--c-fg-sec);
  }

  .card.song .desc .small {
    font-size: 14px;
    color: var(--c-fg-sec);
  }
</style>
{%- endblock %}

{% block main -%}
<div class="title line-height-1">{{ title }}</div>
<div class="tip text-center">
  直接发送 <b>序号</b> 进行选择 | 发送 <b>P</b>+<b>数字</b> 跳到指定页数<br />
  其他操作：<b>上一页</b>(P) | <b>下一页</b>(N) | <b>退出</b>(E)
</div>
<div class="card-grid">
  {% for c in cards -%}{{ c | safe }}{% endfor %}
</div>
<div class="text-center">
  第 {{ current_page }} 页 / 共 {{ max_page }} 页 | 总计 {{ total_count }} 项
</div>
<div class="footer text-center">
  Generated by nonebot-plugin-multincm v{{ config.plugin_version }}
</div>
{%- endblock %}
